<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!-- Appender, Layout 설정 -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern=" %-5level %c(%M:%L) - %m%n"/>
        </Console>
    </Appenders>

    <!-- Logger 설정 -->
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.danji" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="jdbc" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>


        <!-- JDBC SQL 로그 -->
        <Logger name="org.springframework.jdbc.core" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- MyBatis 내부 로그 -->
        <Logger name="org.mybatis" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- Spring Batch 로그 -->
        <Logger name="org.springframework.batch" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- Spring Batch DB 쿼리 로그 -->
        <Logger name="org.springframework.batch.item.database" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

    </Loggers>

</Configuration>