<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.danji.transaction.mapper.TransactionMapper">
    <insert id="insert" parameterType="TransactionVO">
        INSERT INTO transaction (
            transaction_id
            ,from_wallet_id
            ,to_wallet_id
            ,before_balance
            ,after_balance
            ,amount
            ,direction
            ,type
            ,comment
            ,owner_wallet_id
            ,created_at
            ,updated_at
        )
        VALUES (
                   #{transactionId},
                   #{fromWalletId},
                   #{toWalletId},
                   #{beforeBalance},
                   #{afterBalance},
                   #{amount},
                   #{direction},
                   #{type},
                   #{comment},
                   #{ownerWalletId},
                   now(),
                   now()
               )
    </insert>


</mapper>