<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.danji.transaction.mapper.TransactionMapper">
    <insert id="insert" parameterType="TransactionVO">
        INSERT INTO transaction (
            transaction_id
            ,from_wallet_id
            ,to_wallet_id
            ,before_balance
            ,after_balance
            ,amount
            ,direction
            ,type
            ,comment
            ,owner_wallet_id
            ,created_at
            ,updated_at
        )
        VALUES (
                   #{transactionId},
                   #{fromWalletId},
                   #{toWalletId},
                   #{beforeBalance},
                   #{afterBalance},
                   #{amount},
                   #{direction},
                   #{type},
                   #{comment},
                   #{ownerWalletId},
                   now(),
                   now()
               )
    </insert>

    <select id = "findByFilter" resultType="TransactionVO">
        SELECT *
        FROM transaction
        WHERE owner_wallet_id = #{filter.walletId}
        AND created_at BETWEEN #{filter.startDate} AND #{filter.lastDate}

        <if test="filter.direction != null">
            AND direction = #{filter.direction}
        </if>

        <choose>
            <when test="filter.sortOrder.name() == 'DESC'">
                ORDER BY created_at DESC
            </when>
            <when test="filter.sortOrder.name() == 'ASC'">
                ORDER BY created_at ASC
            </when>
            <otherwise>
                ORDER BY created_at DESC
            </otherwise>
        </choose>
    </select>

    <select id = "findTotalChargeAmountByMonth" resultType="int">
        SELECT COALESCE(SUM(amount), 0)
        FROM transaction
        WHERE owner_wallet_id = #{localWalletId}
          AND type = 'CHARGE'
          AND direction = 'INCOME'
          AND MONTH(created_at) = #{month}
    </select>


</mapper>