<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.danji.badge.mapper.BadgeMapper">

    <resultMap id="badgeMap" type="BadgeVO">
        <id property="badgeId" column="badge_id"/>
        <result property="name" column="name"/>
        <result property="badgeType" column="badge_type"/>
        <result property="regionId" column="region_id"/>
        <result property="comment" column="comment"/>
    </resultMap>

    <select id="findById" parameterType="java.util.UUID" resultType="BadgeVO">
        SELECT badge_id as badgeId,
               name,
               badge_type as badgeType,
               region_id as regionId,
               created_at as createdAt,
               updated_at as updatedAt,
               comment
        FROM badge b
        WHERE b.badge_id = #{badgeId}
    </select>

    <select id="findAll" resultMap="badgeMap">
        SELECT *
            FROM badge
    </select>

</mapper>
