<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.danji.localCurrency.mapper.LocalCurrencyMapper">
    <insert id="create">
        insert into local_currency(local_currency_id, region_id, name, benefit_type, maximum, percentage, created_at,
                                   updated_at)
            value (#{localCurrencyId}, #{regionId}, #{name}, #{benefitType}, #{maximum}, #{percentage}, now(), now())
    </insert>


    <select id="findById" resultMap="LocalCurrencyMap">
        select *
        from local_currency
        where local_currency_id = #{localCurrencyId}
    </select>

    <select id="findByRegionId" resultMap="LocalCurrencyMap">
        select *
        from local_currency
        where region_id = #{regionId}
    </select>

    <select id="findAllByName" resultType="org.danji.localCurrency.domain.LocalCurrencyVO">
        SELECT *
        FROM local_currency
        WHERE name = #{name}
    </select>


    <select id="findByFilter" resultMap="LocalCurrencyMap">
        SELECT lc.*
        FROM local_currency lc LEFT JOIN region r on r.region_id = lc.region_id
        <where>
            <if test="localCurrencyId != null">
                AND lc.local_currency_id = #{localCurrencyId}
            </if>
            <if test="regionId != null">
                AND lc.region_id = #{regionId}
            </if>
            <if test="benefitType != null">
                AND lc.benefit_type = #{benefitType}
            </if>
            <if test="province != null and province != ''">
                AND r.province = #{province}
            </if>
            <if test="city != null and city != ''">
                AND r.city #{city}
            </if>
        </where>
    </select>

    <select id="findByWalletId" resultMap="LocalCurrencyMap">
        SELECT lc.local_currency_id,
               lc.region_id,
               lc.name,
               lc.benefit_type,
               lc.maximum,
               lc.percentage,
               lc.created_at,
               lc.updated_at
        FROM wallet w
                 INNER JOIN local_currency lc
                            ON w.local_currency_id = lc.local_currency_id
        WHERE w.wallet_id = #{walletId}
    </select>
    <select id="findAll" resultType="LocalCurrencyVO">
        SELECT
            lc.local_currency_id, lc.region_id, lc.name, r.province AS region_name
        FROM
            local_currency lc
        JOIN region r
        ON lc.region_id = r.region_id
    </select>

    <select id="findDetailById" resultType="LocalCurrencyDetailDTO">
        select
            lc.local_currency_id,
            lc.region_id,
            lc.name,
            lc.benefit_type,
            lc.maximum,
            lc.percentage,
            f.file_path as imageUrl
        from local_currency lc
        left join file_reference fr
        on fr.reference_id = lc.local_currency_id
        and fr.reference_type = 'local_currency'
        left join file f
        on fr.file_id = f.file_id
        where lc.local_currency_id = #{localCurrencyId}
    </select>

    <resultMap id="LocalCurrencyMap" type="LocalCurrencyVO">
        <id property="localCurrencyId" column="local_currency_id"/>
        <result property="regionId" column="region_id"/>
        <result property="name" column="name"/>
        <result property="benefitType" column="benefit_type"/>
        <result property="maximum" column="maximum"/>
        <result property="percentage" column="percentage"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

</mapper>