<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.danji.availableMerchant.mapper.AvailableMerchantMapper">
    <insert id="create">
        INSERT INTO available_merchant
        VALUES (
                #{availableMerchantId},
                #{name},
                #{address},
                #{latitude},
                #{longitude},
                #{category},
                #{localCurrencyId},
                NOW(),
                NOW()
               )
    </insert>
    <select id="existsByNameAndAddress" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1 FROM available_merchant
            WHERE name = #{name} AND address = #{address}
        )
    </select>
</mapper>
