<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.danji.availableMerchant.mapper.AvailableMerchantMapper">
    <insert id="create">
        INSERT INTO available_merchant
        VALUES (
                UUID_TO_BIN(#{availableMerchantId}),
                #{name},
                #{address},
                #{latitude},
                #{longitude},
                #{category},
                UUID_TO_BIN(#{localCurrencyId}),
                NOW(),
                NOW()
               )
    </insert>
    <select id="existsByNameAndAddress" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1 FROM available_merchant
            WHERE name = #{name} AND address = #{address}
        )
    </select>

    <resultMap id="availableMerchantMap" type="org.danji.availableMerchant.domain.AvailableMerchantVO">
        <result column="availableMerchantId" property="availableMerchantId" javaType="java.util.UUID" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="category" property="category" />
        <result column="localCurrencyId" property="localCurrencyId" javaType="java.util.UUID"/>
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="findAll" resultMap="availableMerchantMap">
        SELECT
            BIN_TO_UUID(available_merchant_id) AS availableMerchantId,
            name,
            address,
            latitude,
            longitude,
            category,
            BIN_TO_UUID(local_currency_id) AS localCurrencyId,
            created_at,
            updated_at
        FROM available_merchant
    </select>
</mapper>
