<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.danji.member.mapper.MemberMapper">


  <insert id="insert" parameterType="MemberVO">
    INSERT INTO member(member_id, username, password, role,name, payment_pin, created_at, updated_at)
    VALUES (#{memberId}, #{username}, #{password}, #{role}, #{name}, #{paymentPin}, now(), now())
  </insert>


  <resultMap id="authMap" type="MemberVO">
    <result column="username" property="username"/>
    <result column="role" property="role"/>
  </resultMap>

  <resultMap id="memberMap" type="MemberVO">
    <id column="member_id" property="memberId"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="role" property="role"/>
    <result column="name" property="name"/>
    <result column="payment_pin" property="paymentPin"/>
  </resultMap>

  <select id="get" resultMap="memberMap">
    SELECT *
    FROM member m
    WHERE m.username = #{username}
  </select>

  <delete id="deleteByUsername">
    DELETE FROM member
    WHERE username = #{username}
  </delete>


  <!--  <select id="findByUsername" resultType="MemberVO">-->
<!--    SELECT *-->
<!--    FROM member-->
<!--    WHERE username = #{username}-->
<!--  </select>-->

  <update id="update">
    UPDATE member
    SET name = #{name},
        updated_at = now()
    WHERE username = #{username}
  </update>

<!--  <update id="updatePassword">-->
<!--    UPDATE member-->
<!--    SET password = #{newPassword},-->
<!--        updated_at = now()-->
<!--    WHERE username = #{username}-->
<!--  </update>-->

  <select id = "findById" parameterType="java.util.UUID" resultMap="memberMap">
        SELECT *
        FROM member
        WHERE member_id = #{userId}
  </select>

</mapper>